<div class='doctors-wrapper'>
    <header>
        <div class='module-title'>
            <div class='title'>STAFFS LIST</div>
            <div class='underline'></div>
        </div>
        <nb-button-group multiple>
            <button nbButtonToggle (click)='onAddStaff()'>New Staff</button>
        </nb-button-group>
    </header>
    <div class='specialization-detail-wrapper'>
        <div class='specialist-display'>
            <div (click)='onSpecialistClick($event)' *ngFor='let staff of staffs'>
                <div class='e-cards specialist-item' id='Specialist_{{staff.Id}}'>
                    <div class='e-card-content'>
                        <div class='specialist-image'>
                            <img class='profile' src='./assets/images/default.png' alt='doctor' />
                        </div>
                    </div>
                    <div class='specialist-detail'>
                        <div class='name'>{{staff.name}}</div>
                        <div class='specialist-experience'>
                            <div class='specialization'>
                                <span class='label-text'>Designation</span>
                                <span class='specialization-text'>{{staff.designation}}</span>
                            </div>
                            <div class='experience'>
                                <span class='label-text'>Experience</span>
                                <span class='specialization-text'>{{staff.experience}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
